@mixin tablet() {
    @media screen and (min-width: 768px) and (max-width: 1024px) {
        @content;
    }
}
@mixin phone() {
    @media screen and (max-width: 767px) {
        @content;
    }
}

@mixin list__item-after() {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

@mixin heading($color: #333, $size: 36px, $text: 36px) {
    font-size: $size;
    line-height: $text;
    color: $color;
    @content;
}

@mixin paragraf($color: #333, $size: 15px, $text: 25px) {
    font-size: $size;
    line-height: $text;
    color: $color;
    @content;
}